.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-page-parent {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.login-textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.homepage-parent {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.create-ticket {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.show-content {
  position: absolute;
  height: 80vh;
  width: 95vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.create-ticket-success-state {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-alert {
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
}